<aside class="l-sidebar">

  <div class="sections sidebar">
    <section class="sidebar">
      <header>ABOUT</header>
      <div>
	工業大学に通う大学生. ロボコンに参加してたり…? <br>
	<div align = "center">
	  <a href = "https://browniealice.github.io/blog/">Blog</a> / 
	  <a href = "https://browniealice.github.io/wiki/">wiki</a> / 
	  <a href = "https://github.com/BrownieAlice/">GitHub</a> / 
	  <a href = "https://github.com/BrownieAlice/blog.git">Repo</a>
	 </div>
      </div>
    </section>
    <section class="sidebar">
      <header>LATESTS</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 10 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>

    {{ range $key, $value := .Site.Taxonomies }}
    <section class="sidebar">
      <header>{{ $key | upper }}</header>
      <div>
        <ul class="terms">
          {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </div>
    </section>
    {{ end }}
  </div>

</aside>
